@font-face {
    font-family: futurastd-bold;
    src: url(https://www.dropbox.com/sh/n8eub5j15yq969j/AAAjx-8lPKxIGBKQCuh-dkJ1a/FuturaStd-Bold.otf);
}
@font-face{
	font-family:neutradispbold;
	src: url(https://www.dropbox.com/sh/n8eub5j15yq969j/AAAeI-C2B3VcR3sxOeVJvd2da/NeutraDisplay-Bold.otf);
}